Source: ros-kinetic-ecl-mobile-robot
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-ecl-build, ros-kinetic-ecl-errors, ros-kinetic-ecl-formatters, ros-kinetic-ecl-geometry, ros-kinetic-ecl-license, ros-kinetic-ecl-linear-algebra, ros-kinetic-ecl-math
Homepage: http://wiki.ros.org/ecl_mobile_robot
Standards-Version: 3.9.2

Package: ros-kinetic-ecl-mobile-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-ecl-build, ros-kinetic-ecl-errors, ros-kinetic-ecl-formatters, ros-kinetic-ecl-geometry, ros-kinetic-ecl-license, ros-kinetic-ecl-linear-algebra, ros-kinetic-ecl-math
Description: Contains transforms (e.g.
 differential drive inverse kinematics) for the various types of mobile robot platforms.
