Source: ros-groovy-ecl-mobile-robot
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin,ros-groovy-ecl-license,ros-groovy-ecl-formatters,ros-groovy-ecl-geometry,ros-groovy-ecl-math,ros-groovy-ecl-linear-algebra,ros-groovy-ecl-errors
Homepage: http://wiki.ros.org/ecl_mobile_robot
Standards-Version: 3.9.2

Package: ros-groovy-ecl-mobile-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-ecl-errors,ros-groovy-ecl-formatters,ros-groovy-ecl-geometry,ros-groovy-ecl-math,ros-groovy-ecl-linear-algebra
Description: Contains transforms (e.g. differential drive inverse kinematics) for the various types of mobile robot platforms.
